.form-control {
  margin-bottom: 30px;
}

#snow {
  display: none;
  margin-top: 50px;
  color: #3A3E47;
}

#beach {
  display: none;
  margin-top: 50px;
  color: #3A3E47;
}

#creative {
  display: none;
  margin-top: 50px;
  color: #3A3E47;
}

#party {
  display: none;
  margin-top: 50px;
  color: #3A3E47;
}

.col-md-4 {
  background-color: white;
  border: 2px solid white;
  border-radius: 20px;
  padding: 2%;
  opacity: 0.9;
}

.snowPhoto {
  color: white;
  background: url("../img/snowWide.jpg") no-repeat fixed;
  background-size: cover;
}

.beachPhoto {
  background-image: url("../img/beachZ.jpg");
  color: white;
  background-size: cover;
}

.creativePhoto {
  color: white;
  background: url("../img/retreat.jpg") no-repeat fixed;
  background-size: cover;
}

.partyPhoto {
  color: white;
  background: url("../img/vegas.jpg") no-repeat fixed;
  background-size: cover;
}

img {
  width: 40%;
  float: left;
  margin-right: 10px;
}
